<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <section name="GameTeamConfidSection" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <GameTeamConfidSection TeamCount="16">
    <TeamGroupItems>
      <TeamGroupItem TeamGroupCount="4" StugeNumber="1" >
          <GroupTeam GroupTeamCount="4">   
          </GroupTeam>
   
        
      </TeamGroupItem>
      <TeamGroupItem TeamGroupCount="4" StugeNumber="2" >
          <GroupTeam GroupTeamCount="4">
          </GroupTeam>
      </TeamGroupItem>
      <TeamGroupItem TeamGroupCount="1" StugeNumber="3" >
          <GroupTeam GroupTeamCount="9">
          </GroupTeam>
      </TeamGroupItem>
      <TeamGroupItem TeamGroupCount="2" StugeNumber="4" >
          <GroupTeam GroupTeamCount="4">
          </GroupTeam>
      </TeamGroupItem>
      <TeamGroupItem TeamGroupCount="4" StugeNumber="5" >

          <GroupTeam GroupTeamCount="4">
          </GroupTeam>
      </TeamGroupItem>

    </TeamGroupItems>    
    
  </GameTeamConfidSection>
</configuration>